name: C Build

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Build with Make
      run: make
      
    - name: Test run
      run: echo "Сборка успешна"
